<div class="navbar navbar-default bg-dark">
 <div class="container">
  <div class="row header">
   <div class="col-md-2 col-sm my-auto center-mobile">
    <a href="" class="logo">SocialNetwork</a>
   </div>
   <div class="col-md-6">
    <div class="box">
     <div class="container-search">
       <input type="search" id="search" placeholder="Search..." />
       <button class="icon"><i class="fa fa-search"></i></button>
       <div class="clearfix"></div>
     </div>
     <div class="clearfix"></div>
    </div>
    
   </div>
   <div class="col-md-2 col-xs-12 my-auto is-hide-mobile">
    <button class="btn btn-upload"><i class="fa fa-upload"></i> Upload</button>
   </div>
   <div class="col-md-2 my-auto is-hide-mobile">
    <div class="float-left">
     <button class="btn btn-user"><i class="fa fa-user"></i></button>
    </div>
    <h6 class="user-head mb-0">Waseem <span class="badge badge-secondary">4</span></h6>
    <p class="user-subhead mb-0">Arshad</p>
   </div>
   <div class="col-md-12 is-show-mobile mt-2">
    <div class="float-left">
      <button class="btn btn-upload"><i class="fa fa-upload"></i> Upload</button>
    </div>
    <div class="float-right is-mobile-125">
    <div class="float-left">
      <button class="btn btn-user"><i class="fa fa-user"></i></button>
    </div>
     <h6 class="user-head mb-0">Waseem <span class="badge badge-secondary">4</span></h6>
     <p class="user-subhead mb-0">Arshad</p>
    </div>
   </div>
 </div>
 </div>
</div>

<div class="menu bg-secondary is-hide-mobile" role="header">
 <div class="container">
  <div class="row">
   <div class="col-12">
    <ul class="list-menu">
     <li><a class="color-white" href="">Video</a></li>
     <li><a class="color-white" href="">People</a></li>
     <li><a class="color-white" href="">Documents</a></li>
     <li><a class="color-white" href="">Events</a></li>
     <li><a class="color-white" href="">Communities</a></li>
     <li><a class="color-white" href="">Favorites</a></li>
     <li><a class="color-white" href="">Channels</a></li>
    </ul>
   </div>
  </div>
 </div>
</div>

<div class="menu-mobile bg-secondary text-center is-show-mobile">
  <a id="menu-mobile" class="color-white" href="javascript:void(0);" onclick="openMenu()"><i class="fa fa-bars"></i></a>
</div>

<div id="menu-popup" class="menu bg-secondary is-hidden" role="header">
  <div class="container">
   <ul class="menu-mobile">
    <li><a class="color-white" href="">Video</a></li>
    <li><a class="color-white" href="">People</a></li>
    <li><a class="color-white" href="">Documents</a></li>
    <li><a class="color-white" href="">Events</a></li>
    <li><a class="color-white" href="">Communities</a></li>
    <li><a class="color-white" href="">Favorites</a></li>
    <li><a class="color-white" href="">Channels</a></li>
   </ul> 
  </div>
 </div>

<div class="container mt-4">
 <div class="row ">
  <div class="col-md-8">
   <div class="row ">
    <div class="col-6">
     <h4>Videos</h4>
    </div>
    <div class="col-6 my-auto text-right">
     <a href="" class="is-14">Browse all videos</a>
    </div>
   </div>
   <div class="row">
    <div class="col-md-8 pr-hide-desktop">
    <a href="{{ video.id }}" *ngFor="let video of data.videos.featured">
     <div class="card-thumb">
      <img class="thumb" src="{{ video.thumbUrl }}" />
      <div class="detail-card">
       <h6 class="title-card">{{ video.title }}</h6>
       <h6 class="author">{{ video.author }} <span class="float-right view">{{ video.views }} views</span></h6>
      </div>
     </div>
    </a>
     <div class="list-video-thumb">
      <a class="w-100 card-video-list" href="{{ video.id }}" *ngFor="let video of (data ? data.videos.data.slice(0,2): [])">
        <div class="float-left w-100">
          <div class="card">
            <img class="thumb" src="{{ video.thumbUrl }}" />
            <div class="detail-card">
              <h6 class="author">{{ video.author }} <span class="float-right view">{{ video.views }} views</span></h6>
            </div>
          </div>
        </div>
      </a>
     </div>
    </div>
    <div class="col-md-4">
      <a href="{{ video.id }}" *ngFor="let video of (data ? data.videos.data.slice(2,4): [])">
        <div class="card">
          <img class="thumb" src="{{ video.thumbUrl }}" />
          <div class="detail-card">
          <h6 class="author">{{ video.author }} <span class="float-right view">{{ video.views }} views</span></h6>
          </div>
        </div>
      </a>
     <a href="">
      <div class="card-video-upload my-auto">
       <div class="upload-box">
        <div class="float-left mr-4 is-30">
         <i class="fa fa-upload is-30"></i>
        </div>
        <div class="float-left is-14">
         <span>Upload <br/>Your Own Video</span>
        </div>
       </div>
      </div>
     </a>
    </div>
   </div>
  </div>
  <div class="col-md-4 mt-m-4">
   <div class="row">
    <div class="col-4">
     <h4>Activity</h4>
    </div>
    <div class="col-8 my-auto text-right">
     <a href="" class="is-14">View timeline/Filter activities</a>
    </div>
   </div>
   <div class="list-activity">
    <div class="card-activity" *ngFor="let activity of data.activities">
     <div class="img-activity">
       <img class="thumb-activity" src="{{ activity.thumbUrl }}" />
     </div>
     <div class="detail-activity">
      <h6 class="mb-1">{{ activity.name }} <div *ngIf="activity.type == 'comment'; then thenBlock else secondBlock"></div></h6>
      <ng-template #thenBlock><span class="comment">Commented</span></ng-template>
      <ng-template #secondBlock>
          <ng-template *ngIf="activity.type == 'video'; then videoBlock else thirdBlock"></ng-template>
      </ng-template>
      <ng-template #videoBlock><span class="comment">added new video</span></ng-template>
      <ng-template #thirdBlock>
          <ng-template [ngIf]="activity.type == 'document'"><span class="comment">shared new document</span></ng-template>
      </ng-template>
      <p class="mb-1">{{ activity.message.substring(0, 25) }}..</p>
      <div class="is-12"><div *ngIf="activity.type == 'comment'; then iconComment else secondIcon"></div>
      <ng-template #iconComment><i class="fa fa-comments"></i></ng-template>
      <ng-template #secondIcon>
          <ng-template *ngIf="activity.type == 'video'; then iconVideo else thirdIcon"></ng-template>
      </ng-template>
      <ng-template #iconVideo><i class="fa fa-video-camera"></i></ng-template>
      <ng-template #thirdIcon>
          <ng-template [ngIf]="activity.type == 'document'"><i class="fa fa-file"></i></ng-template>
      </ng-template>
         {{ activity.time }} </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="row mt-4">
  <div class="col-md-8">
   <div class="row ">
    <div class="col-6">
     <h4>People</h4>
    </div>
    <div class="col-6 my-auto text-right">
     <a href="" class="is-14">View all</a>
    </div>
   </div>
   <div class="row ">
    <div class="col-md-8 pr-hide-desktop">
     <a href="{{ people.id }}" *ngFor="let people of data.people.featured">
      <div class="card-thumb">
        <img class="thumb" src="{{ people.thumbUrl }}" />
        <div class="detail-card">
        <h6 class="title-card">{{ people.name }}</h6>
        <h6 class="author"> {{ people.skills }} <span class="float-right view">{{ people.views }} views</span></h6>
        </div>
      </div>
     </a>
     <div class="list-video-thumb">
      <a class="w-100 card-video-list" href="{{ people.id }}" *ngFor="let people of (data ? data.people.data.slice(0,2): [])">
      <div class="float-left w-100">
       <div class="card">
        <img class="thumb" src="{{ people.thumbUrl }}" />
        <div class="detail-card">
         <h6 class="author">{{ people.name }}<span class="float-right view">{{ people.views }} views</span></h6>
        </div>
       </div>
      </div>
      </a>
     </div>
    </div>
    <div class="col-md-4">
     <a href="{{ people.id }}" *ngFor="let people of (data ? data.people.data.slice(2,4): [])">
      <div class="card">
        <img class="thumb" src="{{ people.thumbUrl }}" />
        <div class="detail-card">
        <h6 class="author">{{ people.name }} <span class="float-right view">{{ people.views }} views</span></h6>
        </div>
      </div>
     </a>
     <a href="">
      <div class="card-video-upload my-auto">
       <div class="upload-box">
        <div class="float-left mr-4 ml-4 is-30">
         <i class="fa fa-crosshairs is-30"></i>
        </div>
        <div class="float-left is-14">
         <span>Show <br/>Your Work</span>
        </div>
       </div>
      </div>
     </a>
    </div>
   </div>
   <div class="row mt-4 ">
    <div class="col-6">
     <h4>Documents</h4>
    </div>
    <div class="col-6 my-auto text-right">
     <a href="" class="is-14">Browse all Documents</a>
    </div>
   </div>
   <div class="row ">
    <div class="col-md-8 pr-hide-desktop">
     <a href="{{ document.id }}" *ngFor="let document of data.documents.featured">
      <div class="card-thumb">
        <img class="thumb" src="{{ document.thumbUrl }}" />
        <div class="detail-card">
        <h6 class="title-card">{{ document.title }}</h6>
        <h6 class="author">By {{ document.author }} <span class="float-right view">{{ document.views }} views</span></h6>
        </div>
      </div>
     </a>
     <div class="list-video-thumb">
      <a class="w-100 card-video-list" href="{{ document.id }}" *ngFor="let document of (data ? data.documents.data.slice(0,2): [])">
        <div class="float-left w-100">
        <div class="card">
          <img class="thumb" src="{{ document.thumbUrl }}" />
          <div class="detail-card">
          <h6 class="author mb-0">{{ document.title }}</h6>
          <span class="view">{{ document.views }} views</span>
          </div>
        </div>
        </div>
      </a>
     </div>
    </div>
    <div class="col-md-4">
     <a href="{{ document.id }}" *ngFor="let document of (data ? data.documents.data.slice(2,4): [])">
      <div class="card">
        <img class="thumb" src="{{ document.thumbUrl }}" />
        <div class="detail-card">
        <h6 class="author mb-0">{{ document.title }}</h6>
        <span class="view">{{ document.views }} views</span>
        </div>
      </div>
     </a>
     <a href="">
      <div class="card-video-upload my-auto">
       <div class="upload-box">
        <div class="float-left mr-4 ml-2 is-30">
         <i class="fa fa-plus-circle is-30"></i>
        </div>
        <div class="float-left is-14">
         <span>Show <br/>Your Documents</span>
        </div>
       </div>
      </div>
     </a>
    </div>
   </div>
  </div>
  <div class="col-md-4 mt-m-4">
    <div class="row">
      <div class="col-4">
        <h4>Channels</h4>
      </div>
      <div class="col-8 my-auto text-right">
        <a href="" class="is-14">Browse all channels</a>
      </div>
    </div>
   <div class="list-channels">
    <div class="row">
      <div class="col-6" *ngFor="let channel of data.channels">
        <a href="{{ channel.id }}">
          <div class="float-left card-channel">
            <div class="card">
            <img class="thumb" src="{{ channel.thumbUrl }}" />
            <div class="detail-card">
              <h6 class="author">{{ channel.title }}</h6>
            </div>
            <div class="plus-channel"><i class="fa fa-plus"></i></div>
            </div>
          </div>
        </a>
      </div>
   </div>
  </div>
 </div>
 </div>
 <hr class="is-hide-mobile"/>
 <div class="row">
  <div class="col-12">
    <div class="social-media w-100">
      <ul class="center-mobile">
      <li><a href="" aria-placeholder="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      </ul>
    </div>
    <div class="footer-menu">
      <ul class="list-menu center-mobile">
      <li><a href="">About</a></li>
      <li><a href="">For Business</a></li>
      <li><a href="">Suggestion</a></li>
      <li><a href="">Help & FAQs</a></li>
      <li><a href="">Contacts</a></li>
      <li><a href="">Pricing</a></li>
      </ul>
    </div>
    <div class="copyrights mt-4 center-mobile w-100">
      &copy; Companyname.inc
    </div>
    <div class="priv-menu center-mobile w-100">
      <ul class="list-menu">
        <li><a href="">Privacy</a></li>
        <li><a href="">Terms</a></li>
      </ul>
    </div>
  </div>
</div>
</div>